.auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

.link:hover {
  color: blue;
}

.link:global(.active) {
  font-weight: bold;
  color: blue;
}
